.contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 40px 0;
}

.card {
    width: 20rem;
}

.contenedor-btn {
    display: flex;
    justify-content: center;
    gap: 12px;
}


.contenedor-btn .btn-agregar,
.contenedor-btn .btn-ver {
    display: inline-block;
    margin: 5px;
    justify-content: center;
     background-color: #5c3d2e;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95rem;
    padding: 10px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#toast-notificacion {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #3f2b09; 
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 1.1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.toast-oculto {
    opacity: 0;
    transform: translateY(20px); /* POSICION */
    pointer-events: none; /* PARA QUE NO MOLESTE SI EL USUARIO SE EQUIVOCA*/
}

.toast-visible {
    opacity: 1;
    transform: translateY(0); /* ESTO PARA QUE EL MENSAJE VUELVA AL SU POSICION ORIGINAL*/
}